asgiref==3.7.2
decouple==0.0.7
Django==4.2.5
django-autoslug==1.9.9
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
environ==1.0
Pillow==10.0.0
psycopg2==2.9.7
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
python-dotenv
coreapi
coreschema
drf-yasg
django-filter
channels
daphne
django-allauth
django-db-connection-pool