<!-- templates/password_reset_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hi {{ user.full_name }},</p>
    <p>You're receiving this email because you requested a password reset for your account.</p>
    
    <p>Please click the following link to reset your password:</p>
    <a href="{{ reset_url }}">{{ reset_url }}</a>

    <p>If you didn't request a password reset, please ignore this email.</p>

    <p>Best regards,</p>
    <p>Dutchecker staff</p>
</body>
</html>
